

<div class="medicine-div">
    <h4 class="medicine-name"><%= medicine.name %></h4>
    <table>
        <tr>
            <td style="font-weight: bold;">Generic: </td>
            <td><%= medicine.generic %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Med Type: </td>
            <td><%= medicine.med_type %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Link: </td>
            <td><a href="<%= medicine.link %>"><%= medicine.link %></a></td>
        </tr>
        
    </table>
</div>
<hr>